footer
  .container.text-center
    p.pull-left © 2017 Beevest ASBL/VZW. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/teebot/beevest') GitHub Project
      li
        a(href='https://github.com/sahat/hackathon-starter/issues') Issues
        p Bee logo created by LSE Designs from the noun project

