extends layout

block content
  .jumbotron.jumbotron-home
    h1 Giving to a charity this end of fiscal year?
    p.lead do the right thing and get an instant tax return.
    a.btn.btn-primary.btn-lg(href='/donate', role='button') Start Donating
  hr
  .row
    .container
      h1 Our charity partners
    .col-sm-6
      .media
        .media-left
          a(href='#')
            img.media-object(alt='64x64', src='/images/idrlogo.jpg', data-holder-rendered='true', style='width: 64px; height: 64px;')
        .media-body
          h2.media-heading Infirmiers de rue
          p
            | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      .progress
        .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
          | 70.000 €
      p
        a.btn.btn-default(href='#', role='button') View details »

    .col-sm-6
      .media
        .media-left
          a(href='#')
            img.media-object(alt='64x64', src='/images/idrlogo.jpg', data-holder-rendered='true', style='width: 64px; height: 64px;')
        .media-body
          h2.media-heading Infirmiers de rue
          p
            | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      .progress
        .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
          | 70.000 €
      p
        a.btn.btn-default(href='#', role='button') View details »

    .col-sm-6
      .media
        .media-left
          a(href='#')
            img.media-object(alt='64x64', src='/images/idrlogo.jpg', data-holder-rendered='true', style='width: 64px; height: 64px;')
        .media-body
          h2.media-heading Infirmiers de rue
          p
            | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      .progress
        .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
          | 70.000 €
      p
        a.btn.btn-default(href='#', role='button') View details »

    .col-sm-6
      .media
        .media-left
          a(href='#')
            img.media-object(alt='64x64', src='/images/idrlogo.jpg', data-holder-rendered='true', style='width: 64px; height: 64px;')
        .media-body
          h2.media-heading Infirmiers de rue
          p
            | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      .progress
        .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
          | 70.000 €
      p
        a.btn.btn-default(href='#', role='button') View details »